appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
black==19.3b0
bottle==0.12.17
bottle-websocket==0.2.9
cffi==1.12.3
Click==7.0
colorama==0.4.1
Eel==0.10.4
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
pycparser==2.19
pylint==2.3.1
six==1.12.0
toml==0.10.0
typed-ast==1.4.0
whichcraft==0.6.0
wrapt==1.11.2
